{% load static %}
{% include 'header.html' %}

    <div class="container">
        <div class="colspan">
            <h1>Iniciar Sesión</h1>
        </div>
        <div class="colspan">
            <form method="post">
                {% for field in form %}
                    {{field.label_tag}} {{field}}
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </form>
        </div>
    </div>

{% include 'footer.html' %}