{% load static %}
{% if request.user.is_staff == 1 %}
    {%include 'header2.html'%}
{%else%}
    {%include 'header.html'%}
{%endif%}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container px-3 my-5 clearfix">
    <div class="card">
        <div class="card-header">
            <h2>Carrito de compras</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Nombre &amp; Detalles</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Precio</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Cantidad</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                  {% if request.session.carrito.items %}
                  {% for key, value in request.session.carrito.items %}
                    <tr>
                      <td class="p-4">
                        <div class="media align-items-center">
                          
                          <div class="media-body">
                            <a href="#" class="d-block text-dark">{{value.nombre}}</a>
                            <small>
                              <span class="text-muted">Categoria: </span> {{value.categoria}} &nbsp;
                              <span class="text-muted">Marca: </span> {{value.marca}}
                            </small>
                          </div>
                        </div>
                      </td>
                      <td class="text-right font-weight-semibold align-middle p-4">$ {{value.precio}}</td>
                      <td class="text-right font-weight-semibold align-middle p-4">{{value.cantidad}}
                        <a href="{% url 'add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                        <a href="{% url 'res' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                      </td>
                      <td class="text-right font-weight-semibold align-middle p-4">$ {{value.acumulado}}</td>

                      <td class="text-center align-middle px-0"><a href="{% url 'del' value.producto_id %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="3">
                          <div class="alert alert-danger text-center">Sin Productos</div>
                        </td>
                      </tr>
                    {% endif %}
                    <tr>
                      <th scope="row">Total:</th>
                      <td colspan="2">$ {{total_carrito}} </td>
                    </tr>
                </tbody>
              </table>
            </div>

            <div class="float-right">
              <a href="../" class="btn btn-success">Volver a la tienda</a>
              <a href="{% url 'clean' %}" class="btn btn-success">Limpiar carrito</a>
              <a href="#" class="btn btn-success">Guardar</a>
              <a href="{% url 'compra' %}" class="btn btn-success">Comprar</a>
            </div>
        
          </div>
      </div>
  </div>

{%include 'footer.html'%}  