{% if request.user.is_superuser == 1 %}
    {%include 'header2.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">Categorias</div>
        <table class="table table-striped">
          <tr><td>ID</td><td>{{categorias.id}}</td></tr>
          <tr><td>Horario</td><td>{{categorias.nombre}}</td></tr>
        </table>
       <a href="../categorias_gestion/" class="btn btn-success">Volver</a>
    </div>
{%else%}
    {%include 'header.html'%}
    <h1>No tiene acceso a la pagina</h1>
{%endif%}

{%include 'footer.html'%}