{% load static %}
{% if request.user.is_superuser == 1 %}
    {%include 'header2.html'%}


    <div class="container mt-5">
        <h2 class="text-center mb-4">Categorias</h2>
        {%if categorias%}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    {%for cat in categorias%}
                    <tr>
                        <td>{{cat.id}}</td>
                        <td>{{cat.nombre}}</td>
                    <td>
                        <a href="../ver_categoria/{{cat.id}}"
                          class='btn btn-success'><i class="bi bi-eye"></i>
                       </a>
                    </td>
                    <td>
                        <a href="../actualizar_categoria/{{cat.id}}"
                          class='btn btn-warning'><i class="bi bi-pencil"></i>
                       </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
         </table>
        {%else%}
            <div class="alert alert-info">No Hay Categorias Registradas</div>
        {%endif%}
        <a href="../agregar_categoria/" class="btn btn-success">Agregar Categoria</a>
    </div>
{%else%}
    {%include 'header.html'%}
    <h1>No tiene acceso a la pagina</h1>
{%endif%}

{%include 'footer.html'%}