{% if request.user.is_superuser == 1 %}
    {%include 'header2.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">{{titulo}}</div>
        <form method='POST' enctype="multipart/form-data">
        {{form.as_p}}
        {%csrf_token %}
        <input type='submit' class="btn btn-success" value="Guardar">
        <a href="../productos_gestion/" class="btn btn-secondary">Cancelar</a>
        </form>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </div>
{%else%}
    {%include 'header.html'%}
    <h1>No tiene acceso a la pagina</h1>
{%endif%}

{%include 'footer.html'%} 