{%include 'header.html'%}

<div class="container">
  <div class="colspan">
    <h1>Log-in</h1>
    {% if form.errors %}
      <p>
        Usuario y contraseña incorrectos, intente nuevamente.
      </p>
    {% else %}
      <p>
        Use el siguiente formulario
        Si no tienes cuenta crea una aquí <a href="{% url 'register' %}">Registrarse</a>.
      </p>
    {% endif %}
    
    <div class="colspan">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
</div>

</div>

{%include 'footer.html'%}